# Ansible managed file

localhost:
  name : 'local'
  url  : 'http://localhost:8080/stub_status'

localipv4:
  name : 'local'
  url  : 'http://127.0.0.1:8080/stub_status'

localipv6:
  name : 'local'
  url  : 'http://::1:8080/stub_status'
