# Ansible managed file

user www-data;
worker_processes 2;
pid /var/run/nginx.pid;
worker_rlimit_nofile 50000;

events {
    accept_mutex off;
    accept_mutex_delay 500ms;
    multi_accept on;
    worker_connections 100000;
    use epoll;
}

http {
    chunked_transfer_encoding on;
    client_body_in_file_only off;
    client_body_in_single_buffer off;
    client_body_buffer_size 128k;
    client_body_timeout 10;
    client_header_buffer_size 2k;
    client_header_timeout 10;
    client_max_body_size 20M;
    connection_pool_size 256;
    default_type application/octet-stream;
    directio off;
    directio_alignment 512;
    disable_symlinks off;
    gzip on;
    gzip_disable msie6;
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 16k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript application/javascript text/xml application/xml application/xml+rss text/javascript;
    if_modified_since exact;
    ignore_invalid_headers on;
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
    include /etc/nginx/mime.types;
    keepalive_requests 200;
    server_names_hash_bucket_size 64;
    server_name_in_redirect off;
    error_log /var/log/nginx/error.log;
    access_log off;
    sendfile on;
    tcp_nodelay on;
    tcp_nopush on;
    types_hash_max_size 2048;
    large_client_header_buffers 8 16k;
    keepalive_timeout 25 5;
    send_timeout 10;
    fastcgi_connect_timeout 90;
    fastcgi_send_timeout 180;
    fastcgi_read_timeout 180;
    fastcgi_buffer_size 512k;
    fastcgi_buffers 16 128k;
    fastcgi_busy_buffers_size 512k;
    fastcgi_temp_file_write_size 512k;
    fastcgi_intercept_errors on;
    server_tokens off;
}