# Ansible managed file

tcpipv4_root:
  name     : 'local'
  user     : 'root'
  pass     : '{{ vault_root_mysql_password }}'
  host     : 'localhost'
  port     : '3306'

{# socket_local_test:
  name     : 'local'
  user     : 'netdata'
  pass     : 'mysqlnetdata'
  socket   : '/var/run/mysqld/mysqld.sock' #}
