# Ansible Galaxy roles and collections

ansible_roles/

ansible_collections/

# Secret files
VAULT_PASSWORD_FILE

keys/

certs/

# Test files
playbooks/test.yml

# Notes
.notes/

# Local settings
.cache/

.vscode/

ansible-galera/

.ansible-galera/

roles/.database.old

ansible.log

inspec.lock