user = root
dbusername = root
dbpassword = {{ vault_mysql_root_pass }}
dbhost = {{ servers.dba }}
databases = all
backupdir = {{ backupdir }}
configfile = /etc/mysql/debian.cnf
nodata = information_schema.INNODB_BUFFER_PAGE_LRU  information_schema.INNODB_BUFFER_PAGE
sqldumpoptions = {{ sqldumpoptions }}
hotcopy = no
sqldump = yes
compress = yes