[source]
type = local
keep = 7
include = /var/backups/mysql
exclude = /home/*/.gnupg
exclude = /home/*/.local/share/Trash
exclude = /home/*/.Trash
exclude = /home/*/.thumbnails
exclude = /home/*/.beagle
exclude = /home/*/.aMule
exclude = /home/*/gtk-gnutella-downloads

[dest]
type = remote
host = backup.{{ cert_name }}.es
directory = /home/backup_{{ cert_name }}/rdiff-backup/
user = rsyncusr
sshoptions = -p {{ ssh_port }}