# Ansible managed file

server {
    root /home/opennemas/current/public;
    listen 0.0.0.0:8080 default_server;
    merge_slashes on;
    error_log /home/opennemas/shared/tmp/logs/opennemas-error.log;
    rewrite "^/(.+)\.(\d+){10,14}\.(js|css|png|jpg|gif)$" /$1.$3;

    include /etc/nginx/vhosts-includes/*.conf;

    location / {
        access_log off;
        index app.php;
        try_files $uri $uri/ @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ ^/(app|app_dev|config)\.php(/|$) {
        fastcgi_pass unix:{{ php_unix_socket }};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME   $document_root$fastcgi_script_name;
        fastcgi_param SERVER_NAME $http_host;
    }

    location ~ ^/(media|themes|assets)/(.*)$ {
        access_log off;
        log_not_found off;
        allow all;
        try_files $uri @rewriteapp;
    }

    location ~ mraid\.js$ {
        return 200;
    }

    location ~ ^/manager(.*)$ {
        return 404;
    }

{%  if nd.stat.exists is defined and nd.stat.exists | bool %}
    # netdata nginx logging
    location /stub_status {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        deny all;
    }

    # netdata php logging
    location /status {
        access_log off;
        allow 127.0.0.1;
        deny all;
        include fastcgi_params;
        fastcgi_pass unix:{{ php_unix_socket }};
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
{%  endif %}
}
